<div class="col-4 mx-auto mt-3">
  <div class="card shadow border-dark">
    <div class="card-header">
      <h2 class="card-title text-center">Log in</h2>
    </div>
    <div class="card-body">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class='form-group'>
          <b><%= f.label :user_name_or_email, "Username or Email", class:'pt-2' %></b>
          <%= f.text_field :login, autofocus: true, class:'form-control border-primary' %>
        </div>

        <div class='form-group'>
          <b><%= f.label :password, class:'pt-2' %></b>
          <%= f.password_field :password, autocomplete: "current-password", class:'form-control border-primary mb-3' %>
        </div>
       
        <% if devise_mapping.rememberable? %>
          <div class='form-group'>
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end %>

        <div class="actions">
          <%= f.submit "Submit", class:'btn btn-sm btn-primary mt-2 mb-2' %>
        </div>
      <% end %>

      <%= render "users/shared/links" %>
    </div>
  </div>
</div>


