<% if current_user && current_user.admin? %>

  <h1 class="text-center">Permitted Users</h1>

  <table class="table table-sm table-striped table-hover mx-auto mt-1">
    <thead class="table-primary">
      <tr>
        <th class="col col-md-2">Name</th>
        <th class="col col-md-2">Role</th>
        <th class="col col-md-2">Username</th>
        <th class="col col-md-2">Email</th>
        <th class="col col-md-1">Signin?</th>
        <th class="col col-md-2">Signin time</th>
        <th class="col col-md-1">Count</th>
      </tr>
    </thead>
    <tbody>
      <% @users.order('role DESC', 'name ASC').each do |user| %>
      <tr>
        <td><%= link_to_unless_current user.name, user_path(user.id) %></td>
        <td><%= user.role %></td>
        <td><%= user.user_name %></td>
        <td><%= user.email %></td>
        <td><%= user.name == current_user.name ? "Yes" : "-" %></td>
        <td><%= user.current_sign_in_at.strftime('%y-%m-%d %H:%M') %></td>
        <td><%= user.sign_in_count %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>