<div id="<%= dom_id regi %>">
  <p>
    <strong>Lastnm:</strong>
    <%= regi.lastNm %>
  </p>

  <p>
    <strong>Firstnm:</strong>
    <%= regi.firstNm %>
  </p>

  <p>
    <strong>Init:</strong>
    <%= regi.init %>
  </p>

  <p>
    <strong>Gender:</strong>
    <%= regi.gender %>
  </p>

  <p>
    <strong>Dob:</strong>
    <%= regi.dob %>
  </p>

</div>
